<ion-header>
  <ion-toolbar>
    <ion-title class="text-center">Iniciar Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="home-content">
  <div class="logo-container">
    <ion-img alt="logoapp1" src="assets/images/logo.jpg" class="logo-img"></ion-img>
  </div>

  <form [formGroup]="loginForm" (ngSubmit)="loginUser(loginForm.value)" class="login-form">
    <ion-card class="form-card">
      <ion-item>
        <ion-input label="Email" labelPlacement="floating" formControlName="email"></ion-input>
      </ion-item>
    </ion-card>

    <div class="error-messages">
      <ng-container *ngFor="let error of formErrors.email">
        <ion-label color="danger"
          *ngIf="(loginForm.get('email')?.hasError(error.type) && loginForm.get('email')?.dirty)">
          {{ error.message }}
        </ion-label>
      </ng-container>
    </div>

    <ion-card class="form-card">
      <ion-item>
        <ion-input label="Contraseña" labelPlacement="floating" type="password" formControlName="password"></ion-input>
      </ion-item>
    </ion-card>

    <div class="error-messages">
      <ng-container *ngFor="let error of formErrors.password">
        <ion-label color="danger"
          *ngIf="(loginForm.get('password')?.hasError(error.type) && loginForm.get('password')?.dirty)">
          {{ error.message }}
        </ion-label>
      </ng-container>
    </div>

    <div class="button-container">
      <ion-button type="submit" [disabled]="!loginForm.valid">Iniciar Sesión</ion-button>
      <ion-button fill="outline" (click)="goToIntro()" class="register-button">Registrarse</ion-button>
    </div>
  </form>


  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-avatar class="app-logo">
      <img src="/assets/images/logo.jpg" alt="Logo"/>
    </ion-avatar>
  </ion-fab>

  <p class="error-message">{{ errorMessage }}</p>
</ion-content>
