/* Ajuste para el contenedor principal */
.home-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

/* Ajuste del logo para que no sea demasiado grande */
.logo-img {
  max-width: 150px; /* Ajusta el tamaño máximo del logo */
  height: auto;
  margin: 20px auto; /* Centra el logo */
  display: block;
}

/* Ajuste de los ion-cards */
ion-card {
  width: 100%;
  max-width: 350px; /* Limita el tamaño del input */
  margin-bottom: 10px;
}

/* Estilos para la sección de botones */
.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
}

/* Ajuste de los botones */
ion-button {
  width: 80%; /* Ajusta el ancho del botón */
  margin: 5px 0;
}

/* Ajuste del logo en la esquina */
.app-logo img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
