<ion-content>
  <swiper-container slides-per-view="1" pagination="true">
    <!-- Slide 1 -->
    <swiper-slide class="bg-color-slide">
      <h1 class="title1">App Aéreo 1</h1>
      <img src="/proyect2025/src/assets/images/Recetas.jpg" alt="Recetas" class="Recetas" width="185" />
      <ion-icon name="airplane-outline" class="icon-large"></ion-icon>
      <p>Descubre las mejores recetas para disfrutar en tus viajes.</p>
    </swiper-slide>

    <!-- Slide 2 -->
    <swiper-slide>
      <h1 class="title2">Explora Recetas</h1>
      <img src="/proyect2025/src/assets/images/Sabores.jpg" alt="buenas recetas" class="recipe-image" />
      <ion-icon name="logo-apple" class="icon-large"></ion-icon>
      <p>Prepara deliciosos postres con frutas frescas.</p>
    </swiper-slide>

    <!-- Slide 3 -->
    <swiper-slide>
      <ion-icon name="close" class="close-icon" (click)="finish()"></ion-icon>
      <h1 class="title3">Un Mundo de Sabores</h1>
      <img src="/proyect2025/src/assets/images/Precio de recetas.pjg.jpg" alt="Receta económica" class="recipe-image" />
      <ion-icon name="logo-usd" class="icon-large"></ion-icon>
      <p>Cocina económico y con sabor, ideal para toda la familia.</p>
      <ion-button expand="block" (click)="finish()">Llévame al Home</ion-button>
    </swiper-slide>
  </swiper-container>
</ion-content>
